<td class="name">
  {{secret.name}}
</td>
<td class="pass">
  <Input
    @type="password"
    placeholder={{passwordPlaceholder}}
    @size="40"
    @value={{newValue}}
  />{{fa-icon "eye" class="toggle-icon" click=(action "togglePasswordInput")}}
</td>
<td class="allow">
  <Input @type="checkbox" @checked={{secret.allowInPR}} />
</td>
<td>
  <button class={{buttonAction}} {{action "modifySecret"}}>
    {{buttonAction}}
  </button>
</td>
{{#if secretToRemove}}
  {{#if isRemoving}}
    <ModalDialog
      @clickOutsideToClose="false"
      @targetAttachment="center"
      @translucentOverlay={{true}}
    >
      <LoadingView />
    </ModalDialog>
  {{else}}
    <BsModal
      @onSubmit={{action "removeSecret"}}
      @onHide={{action "cancelRemovingSecret"}} as |modal|
    >
      <modal.header>
        <h4>
          Are you sure?
        </h4>
      </modal.header>
      <modal.body>
        {{fa-icon "exclamation-triangle" pull="left" size=3}}
        You're about to delete a secret
        <strong>
          {{secret.name}}
        </strong>
        . There might be existing jobs using this secret.
      </modal.body>
      <modal.footer>
        <BsButton @onClick={{action "cancelRemovingSecret"}}>
          Cancel
        </BsButton>
        <BsButton @onClick={{action "removeSecret"}} @type="danger">
          {{fa-icon "trash"}} Confirm
        </BsButton>
      </modal.footer>
    </BsModal>
  {{/if}}
{{/if}}