{{#if addCollectionError}}
  <InfoMessage
    @message={{addCollectionError}}
    @type="warning"
    @icon="exclamation-triangle"
  />
{{/if}}
{{#if addCollectionSuccess}}
  <InfoMessage
    @message={{addCollectionSuccess}}
    @type="success"
    @icon="check"
  />
{{/if}}
<LinkTo @route="pipeline" @model={{pipeline.id}}>
  <h1>
    {{pipeline.appId}}
  </h1>
</LinkTo>
<a href={{branch-url-encode pipeline.hubUrl}} class="branch">
  {{fa-icon "code-fork" title="Source code"}} {{pipeline.branch}}
</a>
<span class="scm">
  {{fa-icon scmContext.scmIcon}} {{scmContext.scm}}
</span>
{{#if pipeline.configPipelineId}}
  {{fa-icon "cog"}}
  <LinkTo @route="pipeline" @model={{pipeline.configPipelineId}}>
    Parent Pipeline
  </LinkTo>
{{/if}}
<CollectionDropdown
  @pipeline={{pipeline}}
  @pipelineId={{pipeline.id}}
  @collections={{collections}}
  @addToCollection={{addToCollection}}
  @addCollectionSuccess={{addCollectionSuccess}}
  @addCollectionError={{addCollectionError}}
  @dropdownText={{dropdownText}}
/>